In [176]:
import numpy as np
import pandas as pd

In [177]:
movies = pd.read_csv('tmdb_5000_movies.csv')
credits = pd.read_csv('tmdb_5000_credits.csv')

In [178]:
movies.head(2)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500

In [179]:
credits.head(2)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [180]:
movies = movies.merge(credits, on='title', how='left')

In [181]:
movies.columns

Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count', 'movie_id', 'cast', 'crew'],
      dtype='object')

In [182]:
movies = movies[['movie_id', 'title', 'genres', 'keywords', 'overview','cast', 'crew', 'production_companies']]

In [183]:
movies.isnull().sum()

movie_id                0
title                   0
genres                  0
keywords                0
overview                3
cast                    0
crew                    0
production_companies    0
dtype: int64

In [184]:
movies.dropna(inplace=True)

In [185]:
movies.duplicated().sum()

0

In [186]:
import ast
# importing this lib because the column values are strings.
# ex - '[dkfbmsldkbmsldkmbm]'

In [187]:
def clean_column(col):
    _list = []
    for i in ast.literal_eval(col):
        _list.append(i['name'])
    return _list

In [188]:
movies['genres'] = movies['genres'].apply(clean_column)

In [189]:
def clean_cast_column(col):
    _list = []
    c = 0
    for i in ast.literal_eval(col):
        if c!= 3:
            _list.append(i['name'])
            i+=1
        else:
            break
    return _list

In [190]:
movies['cast'] = movies['cast'].apply(clean_column)

In [191]:
job_list = []
for x in ast.literal_eval(movies['crew'][0]):
    job_list.append(x['job'])

print(job_list)

['Editor', 'Production Design', 'Sound Designer', 'Supervising Sound Editor', 'Casting', 'Original Music Composer', 'Director', 'Writer', 'Editor', 'Producer', 'Screenplay', 'Art Direction', 'Visual Effects Producer', 'Casting', 'Supervising Art Director', 'Music Editor', 'Sound Effects Editor', 'Foley', 'Foley', 'Costume Design', 'Producer', 'Art Direction', 'Set Decoration', 'Supervising Art Director', 'Set Designer', 'Executive Producer', 'Costume Design', 'Director of Photography', 'Set Designer', 'Stunts', 'Makeup Artist', 'Hairstylist', 'Camera Operator', 'Art Direction', 'Visual Effects Supervisor', 'Visual Effects Editor', 'Editor', 'Set Designer', 'Director of Photography', 'Stunts', 'Visual Effects Supervisor', 'Dialect Coach', 'Art Direction', 'Art Direction', 'Art Direction', 'Motion Capture Artist', 'Stunt Coordinator', 'Visual Effects Supervisor', 'Supervising Art Director', 'Supervising Art Director', 'Casting', 'Production Design', 'Costume Design', 'Steadicam Operator', 'Makeup Department Head', 'Visual Effects Producer', 'Visual Effects Supervisor', 'Post Production Supervisor', 'Visual Effects Supervisor', 'Makeup Artist', 'Costume Supervisor', 'Visual Effects Supervisor', 'Art Direction', 'Costume Supervisor', 'Costume Supervisor', 'Costume Supervisor', 'Set Designer', 'Set Designer', 'Dialogue Editor', 'Set Designer', 'Transportation Coordinator', 'Transportation Coordinator', 'Supervising Sound Editor', 'Set Designer', 'Set Designer', 'Set Designer', 'Set Designer', 'Set Designer', 'Art Department Coordinator', 'Set Designer', 'Assistant Art Director', 'Construction Coordinator', 'Assistant Art Director', 'Dialogue Editor', 'Dialogue Editor', 'Supervising Sound Editor', 'Sound Re-Recording Mixer', 'Choreographer', 'Visual Effects Producer', 'Visual Effects Supervisor', 'Visual Effects Supervisor', 'Sound Effects Editor', 'CG Supervisor', 'Visual Effects Editor', 'Visual Effects Supervisor', 'Digital Intermediate', 'Visual Effects Supervisor', 'Steadicam Operator', 'Sound Effects Editor', 'Production Supervisor', 'Production Manager', 'Sound Effects Editor', 'Special Effects Coordinator', 'Special Effects Coordinator', 'Visual Effects Producer', 'Visual Effects Producer', 'Visual Effects Editor', 'Visual Effects Editor', 'Visual Effects Producer', 'Visual Effects Editor', 'Visual Effects Supervisor', 'Visual Effects Supervisor', 'Visual Effects Supervisor', 'Visual Effects Supervisor', 'Visual Effects Supervisor', 'Visual Effects Supervisor', 'Stunt Coordinator', 'Best Boy Electric', 'Still Photographer', 'Lighting Technician', 'Animation Director', 'Animation Director', 'Animation Director', 'Set Costumer', 'Set Costumer', 'Digital Intermediate', 'Publicist', 'CG Supervisor', 'CG Supervisor', 'Conceptual Design', 'Visual Effects Art Director', 'Modeling', 'Art Department Manager', 'Hairstylist', 'Lighting Artist', 'Makeup Artist', 'CG Supervisor', 'CG Supervisor', 'CG Supervisor', 'CG Supervisor', 'CG Supervisor', 'CG Supervisor', 'CG Supervisor', 'CG Supervisor', 'CG Supervisor', 'CG Supervisor', 'CG Supervisor', 'CG Supervisor', 'CG Supervisor', 'CG Supervisor', 'CG Supervisor', 'CG Supervisor', 'Stunts']

In [192]:
def clean_crew_column(col):
    _list = []
    for i in ast.literal_eval(col):
        if i['job'] in ['Director', 'Writer']:
            _list.append(i['name'])
    return _list

In [193]:
movies['crew'] = movies['crew'].apply(clean_column)

In [194]:
movies.head(2)

,movie_id,title,genres,keywords,overview,cast,crew,production_companies
0,19995,Avatar,"[Action, Adventure, Fantasy, Science Fiction]","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","In the 22nd century, a paraplegic Marine is di...","[Sam Worthington, Zoe Saldana, Sigourney Weave...","[Stephen E. Rivkin, Rick Carter, Christopher B...","[{""name"": ""Ingenious Film Partners"", ""id"": 289..."
1,285,Pirates of the Caribbean: At World's End,"[Adventure, Fantasy, Action]","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","Captain Barbossa, long believed to be dead, ha...","[Johnny Depp, Orlando Bloom, Keira Knightley, ...","[Dariusz Wolski, Gore Verbinski, Jerry Bruckhe...","[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""..."

In [195]:
movies['production_companies'][0]

'[{"name": "Ingenious Film Partners", "id": 289}, {"name": "Twentieth Century Fox Film Corporation", "id": 306}, {"name": "Dune Entertainment", "id": 444}, {"name": "Lightstorm Entertainment", "id": 574}]'

In [196]:
movies['production_companies'] = movies['production_companies'].apply(clean_column)

In [197]:
movies.head(2)

,movie_id,title,genres,keywords,overview,cast,crew,production_companies
0,19995,Avatar,"[Action, Adventure, Fantasy, Science Fiction]","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","In the 22nd century, a paraplegic Marine is di...","[Sam Worthington, Zoe Saldana, Sigourney Weave...","[Stephen E. Rivkin, Rick Carter, Christopher B...","[Ingenious Film Partners, Twentieth Century Fo..."
1,285,Pirates of the Caribbean: At World's End,"[Adventure, Fantasy, Action]","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","Captain Barbossa, long believed to be dead, ha...","[Johnny Depp, Orlando Bloom, Keira Knightley, ...","[Dariusz Wolski, Gore Verbinski, Jerry Bruckhe...","[Walt Disney Pictures, Jerry Bruckheimer Films..."

In [198]:
movies['keywords'] = movies['keywords'].apply(clean_column)

In [199]:
movies.head(2)

,movie_id,title,genres,keywords,overview,cast,crew,production_companies
0,19995,Avatar,"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","In the 22nd century, a paraplegic Marine is di...","[Sam Worthington, Zoe Saldana, Sigourney Weave...","[Stephen E. Rivkin, Rick Carter, Christopher B...","[Ingenious Film Partners, Twentieth Century Fo..."
1,285,Pirates of the Caribbean: At World's End,"[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","Captain Barbossa, long believed to be dead, ha...","[Johnny Depp, Orlando Bloom, Keira Knightley, ...","[Dariusz Wolski, Gore Verbinski, Jerry Bruckhe...","[Walt Disney Pictures, Jerry Bruckheimer Films..."

In [200]:
movies['overview'] = movies['overview'].apply(lambda x: x.split())

In [201]:
movies['tags'] = movies['overview'] + movies['genres'] + movies['keywords'] + movies['cast'] + movies['crew'] + movies['production_companies']

In [202]:
movies = movies[['movie_id', 'title', 'tags']]

In [203]:
movies.head(2)

,movie_id,title,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d..."

In [204]:
movies['tags'] = movies['tags'].apply(lambda x: [i.replace(" ", "") for i in x])

In [205]:
movies.head(2)

,movie_id,title,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d..."

In [206]:
movies['tags'] = movies['tags'].apply(lambda x: " ".join(x))

In [207]:
movies.head(2)

,movie_id,title,tags
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."

In [208]:
movies['tags'] = movies['tags'].apply(lambda x: x.lower())

In [209]:
movies.head(2)

,movie_id,title,tags
0,19995,Avatar,"in the 22nd century, a paraplegic marine is di..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believed to be dead, ha..."

In [210]:
movies['tags'][0]

"in the 22nd century, a paraplegic marine is dispatched to the moon pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. action adventure fantasy sciencefiction cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d samworthington zoesaldana sigourneyweaver stephenlang michellerodriguez giovanniribisi joeldavidmoore cchpounder wesstudi lazalonso dileeprao mattgerald seananthonymoran jasonwhyte scottlawrence kellykilgour jamespatrickpitt seanpatrickmurphy peterdillon kevindorman kelsonhenderson davidvanhorn jacobtomuri michaelblain-rozgay joncurry lukehawker woodyschultz petermensah soniayee jahnelcurfman ilramchoi kylawarren lisaroumain debrawilson chrismala taylorkibby jodielandau julielamm cullenb.madden josephbradymadden frankietorres austinwilson sarawilson tamicawashington-miller lucybriant nathanmeister gerryblair matthewchamberlain paulyates wraywilson jamesgaylyn melvinlenoclarkiii carvonfutrell brandonjelkes micahmoch hanniyahmuhammad christophernolen christaoliver aprilmariethomas bravitaa.threatt colinbleasdale mikebodnar mattclayton nicoledionne jamieharrison allanhenry anthonyingruber ashleyjeffery deanknowsley josephmika-hunt terrynotary kaipantano loganpithyou stuartpollock raja garethruck rhiansheehan t.j.storm jodietaylor aliciavela-bailey richardwhiteside nikiezambo julenerenee stephene.rivkin rickcarter christopherboyes christopherboyes malifinn jameshorner jamescameron jamescameron jamescameron jamescameron jamescameron andrewmenzies jillbrooks margerysimkin kevinishioka dickbernstein shannonmills denniethorpe janavance deborahlynnscott jonlandau seanhaworth kimsinclair kimsinclair richardf.mays laetakalogridis mayesc.rubeo maurofiore scottherbertson woodyschultz lindadevetta lindadevetta richardbluck simonbright richardmartin stever.moore johnrefoua karlj.martin chilinglin ilramchoi stevenquale carlameyer nickbassett jillcormack andymclaren terrynotary garrettwarren jonathanrothbart stefandechant toddcherniawsky mirandarivers robertstromberg johnharding robertodeangelis mikesmithson alainlalanne lucassalton janacetashjian stephenrosenbaum frankiekarena lisalovaas jonathanfawkner robertbavin anthonyalmaraz carolynm.fenton bethkoenigsberg sampage texkadonaga kimfoscato tammys.lee dennycaira jameswaitkus addisonteague c.scottbaker lukecaska davidchow jonathandyer josephhiura rebeccajellie robertandrewjohnson mikestassi johnvillarino jeffreywisniewski cherylnardi marshallwinn gwendolynyateswhittle williamstein lulawashington chrisdelconte r.christopherwhite danlemmon timnielsen michaelmulholland thomasnittmann edsonwilliams christinecarr johnbruno davidemmerichs christopherscarabosio jenniferteves brigitteyorke kenfischer iainhutton steveingram joycecox jennyfoster christophermarino jimmilton cyndiochs lucasputnam anthony'max'ivins johnknoll ericsaindon waynestables davidstinnett guywilliams stuartthorp gilescoburn markfellman scottsprague jeremyhollobon orlandomeunier taisuketanimura liliamishelacevedo alejandrom.hernandez marvinhall judyalley mikeperry andrewmorley sethengstrom ericoliver matsunesuzuki paultobin roxanegriffin arunram-mohan georgialockhart-adams thrainshadbolt bradalexander shadialmassizadeh simonclutterbuck graemedemmocks adrianfernandes mitchgates jerrykung andylomas sebastianmarino matthiasmenz sergeinevshupov philipperebours michaeltakarangi davidweitzberg benwhite minwindle ingeniousfilmpartners twentiethcenturyfoxfilmcorporation duneentertainment lightstormentertainment"

In [211]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words='english')
# Max features defines the number of words we want to count
# Stop words is to remove all the unnecessary words which are present in te dataset in english language.

In [212]:
vector = cv.fit_transform(movies['tags']).toarray()

In [239]:
cv.get_feature_names()[:100]

['000',
 '10',
 '11',
 '12',
 '13',
 '14',
 '1492pictur',
 '15',
 '16',
 '17',
 '18',
 '1930',
 '1940',
 '1950',
 '1960',
 '1970',
 '1980',
 '19th',
 '19thcenturi',
 '20',
 '20th',
 '24',
 '30',
 '3d',
 '40',
 '40acres',
 '50',
 '60',
 '70',
 'aaron',
 'aaroneckhart',
 'aaronseltz',
 'aaronwilliam',
 'aaronzigman',
 'abandon',
 'abduct',
 'abigailbreslin',
 'abil',
 'abl',
 'abov',
 'abram',
 'abus',
 'academi',
 'accept',
 'access',
 'accid',
 'accident',
 'accompani',
 'accomplish',
 'account',
 'accus',
 'ace',
 'achiev',
 'ackerman',
 'act',
 'action',
 'activ',
 'activist',
 'actor',
 'actress',
 'actual',
 'adam',
 'adamdal',
 'adamgoldberg',
 'adamjenkin',
 'adammckay',
 'adammilosmalley',
 'adamsandl',
 'adamscott',
 'adamshankman',
 'adapt',
 'addict',
 'adewaleakinnuoye',
 'admir',
 'adolesc',
 'adopt',
 'adrianbiddl',
 'adrienbrodi',
 'adult',
 'adulteri',
 'advanc',
 'adventur',
 'adventure',
 'advertis',
 'advic',
 'affair',
 'affect',
 'afghanistan',
 'africa',
 'african',
 'aftercreditssting',
 'afterlif',
 'ag',
 'agbaj',
 'age',
 'agent',
 'ago',
 'agre',
 'aguilar',
 'ahead']

In [214]:
# Here, we are getting words like agent and agents both of which mean the same.
# Hence, we will use stemming tech to correct this, which will basically trasnform each word to its root form.

import nltk

In [215]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [216]:
def stem(text):
    _list = []
    for i in text.split():
        _list.append(ps.stem(i))
    return " ".join(_list)

In [219]:
movies['tags'] = movies['tags'].apply(stem)

In [220]:
movies['tags'][0]

"in the 22nd century, a parapleg marin is dispatch to the moon pandora on a uniqu mission, but becom torn between follow order and protect an alien civilization. action adventur fantasi sciencefict cultureclash futur spacewar spacecoloni societi spacetravel futurist romanc space alien tribe alienplanet cgi marin soldier battl loveaffair antiwar powerrel mindandsoul 3d samworthington zoesaldana sigourneyweav stephenlang michellerodriguez giovanniribisi joeldavidmoor cchpounder wesstudi lazalonso dileeprao mattgerald seananthonymoran jasonwhyt scottlawr kellykilgour jamespatrickpitt seanpatrickmurphi peterdillon kevindorman kelsonhenderson davidvanhorn jacobtomuri michaelblain-rozgay joncurri lukehawk woodyschultz petermensah soniaye jahnelcurfman ilramchoi kylawarren lisaroumain debrawilson chrismala taylorkibbi jodielandau julielamm cullenb.madden josephbradymadden frankietorr austinwilson sarawilson tamicawashington-mil lucybri nathanmeist gerryblair matthewchamberlain paulyat wraywilson jamesgaylyn melvinlenoclarkiii carvonfutrel brandonjelk micahmoch hanniyahmuhammad christophernolen christaoliv aprilmariethoma bravitaa.threatt colinbleasdal mikebodnar mattclayton nicoledionn jamieharrison allanhenri anthonyingrub ashleyjefferi deanknowsley josephmika-hunt terrynotari kaipantano loganpithy stuartpollock raja garethruck rhiansheehan t.j.storm jodietaylor aliciavela-bailey richardwhitesid nikiezambo julenerene stephene.rivkin rickcart christopherboy christopherboy malifinn jameshorn jamescameron jamescameron jamescameron jamescameron jamescameron andrewmenzi jillbrook margerysimkin kevinishioka dickbernstein shannonmil denniethorp janav deborahlynnscott jonlandau seanhaworth kimsinclair kimsinclair richardf.may laetakalogridi mayesc.rubeo maurofior scottherbertson woodyschultz lindadevetta lindadevetta richardbluck simonbright richardmartin stever.moor johnrefoua karlj.martin chilinglin ilramchoi stevenqual carlamey nickbassett jillcormack andymclaren terrynotari garrettwarren jonathanrothbart stefandech toddcherniawski mirandariv robertstromberg johnhard robertodeang mikesmithson alainlalann lucassalton janacetashjian stephenrosenbaum frankiekarena lisalovaa jonathanfawkn robertbavin anthonyalmaraz carolynm.fenton bethkoenigsberg sampag texkadonaga kimfoscato tammys.le dennycaira jameswaitku addisonteagu c.scottbak lukecaska davidchow jonathandy josephhiura rebeccajelli robertandrewjohnson mikestassi johnvillarino jeffreywisniewski cherylnardi marshallwinn gwendolynyateswhittl williamstein lulawashington chrisdelcont r.christopherwhit danlemmon timnielsen michaelmulholland thomasnittmann edsonwilliam christinecarr johnbruno davidemmerich christopherscarabosio jennifertev brigitteyork kenfisch iainhutton steveingram joycecox jennyfost christophermarino jimmilton cyndioch lucasputnam anthony'max'ivin johnknol ericsaindon waynest davidstinnett guywilliam stuartthorp gilescoburn markfellman scottspragu jeremyhollobon orlandomeuni taisuketanimura liliamishelacevedo alejandrom.hernandez marvinhal judyalley mikeperri andrewmorley sethengstrom ericoliv matsunesuzuki paultobin roxanegriffin arunram-mohan georgialockhart-adam thrainshadbolt bradalexand shadialmassizadeh simonclutterbuck graemedemmock adrianfernand mitchgat jerrykung andyloma sebastianmarino matthiasmenz sergeinevshupov philipperebour michaeltakarangi davidweitzberg benwhit minwindl ingeniousfilmpartn twentiethcenturyfoxfilmcorpor duneentertain lightstormentertain"

In [222]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words='english')

In [223]:
vector = cv.fit_transform(movies['tags']).toarray()

In [240]:
cv.get_feature_names()[:100]

['000',
 '10',
 '11',
 '12',
 '13',
 '14',
 '1492pictur',
 '15',
 '16',
 '17',
 '18',
 '1930',
 '1940',
 '1950',
 '1960',
 '1970',
 '1980',
 '19th',
 '19thcenturi',
 '20',
 '20th',
 '24',
 '30',
 '3d',
 '40',
 '40acres',
 '50',
 '60',
 '70',
 'aaron',
 'aaroneckhart',
 'aaronseltz',
 'aaronwilliam',
 'aaronzigman',
 'abandon',
 'abduct',
 'abigailbreslin',
 'abil',
 'abl',
 'abov',
 'abram',
 'abus',
 'academi',
 'accept',
 'access',
 'accid',
 'accident',
 'accompani',
 'accomplish',
 'account',
 'accus',
 'ace',
 'achiev',
 'ackerman',
 'act',
 'action',
 'activ',
 'activist',
 'actor',
 'actress',
 'actual',
 'adam',
 'adamdal',
 'adamgoldberg',
 'adamjenkin',
 'adammckay',
 'adammilosmalley',
 'adamsandl',
 'adamscott',
 'adamshankman',
 'adapt',
 'addict',
 'adewaleakinnuoye',
 'admir',
 'adolesc',
 'adopt',
 'adrianbiddl',
 'adrienbrodi',
 'adult',
 'adulteri',
 'advanc',
 'adventur',
 'adventure',
 'advertis',
 'advic',
 'affair',
 'affect',
 'afghanistan',
 'africa',
 'african',
 'aftercreditssting',
 'afterlif',
 'ag',
 'agbaj',
 'age',
 'agent',
 'ago',
 'agre',
 'aguilar',
 'ahead']

In [224]:
vector.shape

(4806, 5000)

In [114]:
from sklearn.metrics.pairwise import cosine_similarity

In [115]:
similarity = cosine_similarity(vector)

In [116]:
similarity

array([[1.        , 0.06622662, 0.02279212, ..., 0.01622214, 0.01767767,
        0.        ],
       [0.06622662, 1.        , 0.03018889, ..., 0.02148675, 0.        ,
        0.        ],
       [0.02279212, 0.03018889, 1.        , ..., 0.01848685, 0.        ,
        0.        ],
       ...,
       [0.01622214, 0.02148675, 0.01848685, ..., 1.        , 0.0860309 ,
        0.05735393],
       [0.01767767, 0.        , 0.        , ..., 0.0860309 , 1.        ,
        0.0625    ],
       [0.        , 0.        , 0.        , ..., 0.05735393, 0.0625    ,
        1.        ]])

In [117]:
movies[movies['title'] == 'The Lego Movie'].index[0]

744

In [226]:
def recommend(movie):
    index = movies[movies['title'] == movie].index[0]
    movies_list = sorted(list(enumerate(similarity[index])),reverse=True,key = lambda x: x[1])[1:6]
    for i in movies_list:
        print(movies.iloc[i[0]].title)

In [227]:
recommend('Gandhi')

A Passage to India
The Wind That Shakes the Barley
Guiana 1838
Ramanujan
Dil Jo Bhi Kahey...

In [230]:
recommend('Batman Returns')

Batman
Batman Forever
Batman: The Dark Knight Returns, Part 2
The Dark Knight
Batman

In [228]:
import pickle

In [229]:
pickle.dump(movies,open('movie_list.pkl','wb'))
pickle.dump(similarity,open('similarity.pkl','wb'))